{% extends 'base_auth.html' %}

{% load static %}

{% block css %}



{% endblock %}

{% block contenido %}

 <!-- ======= Header ======= -->
 <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between"  >

      <a href="{% url 'inicio' %}" class="logo d-flex align-items-center">
        <img src="{% static 'assets/img/Imagen1.png' %}" alt="">
        <span>Cognitya</span>
      </a>
      
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'inicio' %}">Inicio</a></li>
          <li><a class="nav-link scrollto" href="{% url 'about' %}">Sobre nosotros</a></li>
          <li><a class="nav-link scrollto"  href="{% url 'login_form' %}">Iniciar Sesión</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <div class="wrapper" data-aos="fade-up" style="margin-bottom: 110px;" >
    <div class="title">Iniciar sesión</div>
    <form method="POST" action="">
      {% csrf_token %}
            <div class="field">
              {{form.username}}

                <label>Usuario</label>

            </div>
            <div class="field">
                    {{form.password}}
                    
                   
                    <label>Contraseña</label>
                    {% for error in form.password.errors %}
                    <span style="color: red;">{{error}}</span>
                    {% endfor %}
                </div>
            <div class="content" style="position: relative; top: 15px;">
                    <div class="checkbox">
                    <input type="checkbox" name="save_session">
                    <label for="remember-me">Recuérdame</label>
                    </div>
            <div class="pass-link">
            <a href="#"></a></div>
            </div>
            <div class="field">
                    <input type="submit" value="Iniciar sesión">
                </div>
         
    </form>
</div>




{% endblock %}