{% extends 'base_admin.html' %}

{% load static %}

{% block contenido %}
 <!-- ======= Mobile nav toggle button ======= -->
 <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

 <main id="main">
   <section id="admin"  style="position: relative; ">
   <section id="counts" class="counts" style="position: relative; ">
       <div class="container" data-aos="fade-up">
         
         <div class="row gy-4">
   
           <div class="container" data-aos="zoom-in" data-aos-delay="100" style="text-align: center;">
               <h1>{{admin.first_name}} {{admin.last_name}}</h1>
               <p><span class="typed" data-typed-items="Última actividad registrada en Cognitya, Empieza a gestionar tus usuarios."></span></p>
               
             </div>
           <div class="col-lg-3 col-md-6">
             <div class="count-box " style="box-shadow: none; background: rgb(255, 249, 249);">
               
               <div>
                 <span data-purecounter-start="-100" data-purecounter-end="{{trainings}}" data-purecounter-duration="1" class="purecounter"></span>
                 <p>Entrenamientos realizados</p>
               </div>
             </div>
           </div>
   
           <div class="col-lg-3 col-md-6">
               <div class="count-box" style="box-shadow: none;  background: rgb(255, 249, 249);">
              
               <div>
                 <span data-purecounter-start="-100" data-purecounter-end="{{activities}}" data-purecounter-duration="1" class="purecounter"></span>
                 <p>Actividades realizadas</p>
               </div>
             </div>
           </div>
   
           <div class="col-lg-3 col-md-6">
               <div class="count-box" style="box-shadow: none;  background: rgb(255, 249, 249);">
            
               <div>
                 <span data-purecounter-start="-100" data-purecounter-end="{{num_doctors}}" data-purecounter-duration="1" class="purecounter"></span>
                 <p>Médicos registrados</p>
               </div>
             </div>
           </div>
   
           <div class="col-lg-3 col-md-6">
               <div class="count-box" style="box-shadow: none;  background: rgb(255, 249, 249);">
            
               <div>
                 <span data-purecounter-start="-100" data-purecounter-end="{{num_patients}}" data-purecounter-duration="1" class="purecounter"></span>
                 <p>Pacientes registrados</p>
               </div>
             </div>
           </div>
   
         </div>
   
       </div>
     </section><!-- End Counts Section -->
   </section>
 </main><!-- End #main -->


{% endblock %}