{% extends 'base_admin.html' %}

{% load static %}


{% block contenido %}
  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <main id="main">
    <section id="admin"  style="position: relative; ">
        <div class="container">
    
            <form method="POST" action="{% url 'form_patient' %}">
                <fieldset>
                  <legend>Nuevo paciente</legend>
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nombre de usuario:</label>

                    {{form.username}}
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Contraseña:</label>
                    {{form.password}}
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Nombre:</label>
                    {{form.first_name}}
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Apellidos:</label>
                    {{form.last_name}}

                  </div>

                  <div class="form-group">
                    <label for="exampleTextarea">Diagnóstico</label>
                    {{form.sickness}}
                  </div>

                  <div class="form-group">
                    <label for="exampleInputPassword1">Fecha de nacimiento:</label>
                    {{form.birth_date}}
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Correo electrónico:</label>
                    {{form.email}}
                  </div>
                 
                 
                 
                  <div class="form-group">
                    <label for="exampleTextarea">Observaciones</label>
                    {{form.comments}}
                  </div>
                  <td><button type="submit" class="btn btn-outline-primary">Confirmar</button></td>           

                 
              </form>
    
        </div>
    
    </section>

  </main><!-- End #main -->

{% endblock %}
