{% extends 'base_admin.html' %}

{% load static %}


{% block contenido %}
  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>


  <main id="main">
    <section id="admin"  style="position: relative; ">
        <div class="container">
    
            <form method="POST" action="{% url 'form_doctor' %}">
                <fieldset>
                  <legend>Nuevo médico</legend>
                  {% csrf_token %}
                
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nombre de usuario:</label>

                    {{form.username}}
                    {% for error in form.username.errors %}
                    <span style="color: red;">{{error}}</span>
                    {% endfor %}
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Contraseña:</label>
                    {{form.password}}
                    {% for error in form.password.errors %}
                    <span style="color: red;">{{error}}</span>
                    {% endfor %}
                  </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Nombre:</label>
                    {{form.first_name}}
                    {% for error in form.first_name.errors %}
                    <span style="color: red;">{{error}}</span>
                    {% endfor %}
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Apellidos:</label>
                    {{form.last_name}}
                    {% for error in form.last_name.errors %}
                    <span style="color: red;">{{error}}</span>
                    {% endfor %}

                  </div>
                  <div class="form-group">
                    <label for="exampleTextarea">Especialidad</label>
                    {{form.specialty}}
                    {% for error in form.specialty.errors %}
                    <span style="color: red;">{{error}}</span>
                    {% endfor %}

                  </div>
                 
                  <div class="form-group">
                    <label for="exampleInputPassword1">Correo electrónico:</label>
                    {{form.email}}
                    {% for error in form.email.errors %}
                    <span style="color: red;">{{error}}</span>
                    {% endfor %}
                  </div>
                 
                   <div class="form-group">
                    <label for="exampleInputPassword1">Fecha de nacimiento:</label>
                    {{form.birth_date}}
                    {% for error in form.birth_date.errors %}
                      <span style="color: red;">{{error}}</span>
                    {% endfor %}
                  </div>
                 
                  <div class="form-group">
                    <label for="exampleTextarea">Observaciones</label>
                    {{form.comments}}
                  </div>
                  <td><button type="submit" class="btn btn-outline-primary">Confirmar</button></td>           

                 
              </form>
    
        </div>
    
    </section>

  </main><!-- End #main -->

{% endblock %}
