{% extends 'base_doctor.html' %}

{% load static %}

{% block contenido %}
 <!-- ======= Mobile nav toggle button ======= -->
 <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

 

 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex flex-column justify-content-center">
   <div class="container" data-aos="zoom-in" data-aos-delay="100">
     <h1>{{doctor.first_name}} {{doctor.last_name}}</h1>
     <p><span class="typed" data-typed-items="Bienvenido/a a Cognitya., Empieza a gestionar a tus pacientes."></span></p>
     
   </div>
 </section><!-- End Hero -->

 <main id="main">

  
 </main><!-- End #main -->


{% endblock %}