
{% extends 'base_doctor.html' %}

{% load static %}
{% load filters %}

{% block contenido %}
<button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>


<main id="main">
    <section id="about" class="about" data-aos="fade-up">
        <div class="container">
    
            <form>
                <fieldset>
                  <legend>{{patient.user.first_name}} {{patient.user.last_name}}</legend>
                  
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nombre:</label>
                    <input type="text" class="form-control" disabled value="{{patient.user.first_name}}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Apellidos:</label>
                    <input type="text" class="form-control" disabled value="{{patient.user.last_name}}">
                  </div>
                  <div class="form-group">
                    <label for="exampleTextarea">Diagnóstico</label>
                    <input class="form-control"  value="{{patient.sickness}}" disabled></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Edad:</label>
                    <input type="text" class="form-control" disabled value="68">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Fecha de nacimiento:</label>
                    <input type="text" class="form-control" disabled value="{{patient.user.birth_date | age}}">
                  </div>
                                                  
                  <div class="form-group">
                    <label for="exampleTextarea">Observaciones</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3" disabled value="{{patient.user.description}}"></textarea>
                  </div> 

                  <table class="table">
                    <thead>
                      <tr>
                      </tr>
                    </thead>
                    <tbody>
      
               
                            <tr>
                           
                                <td><a href="{% url 'patient_stats'%}?patient={{patient.pk}}"class="btn btn-outline-primary">Actividad del paciente</a></td>
                                <td><a href="{% url 'trainings_completed'%}?patient={{patient.pk}}"class="btn btn-outline-primary">Entrenamientos realizados</a></td>

                            </tr>
                    
                      
                    </tbody>
                  </table>
 
              </form>
    
        </div>
      </section><!-- End About Section -->
   
  </main><!-- End #main -->

{% endblock %}