{% extends 'base_patient.html' %}

{% load static %}

{% block contenido %}


  <section id="values" class="values">

    <div class="container" data-aos="fade-down" style="position: relative; top: 100px;">

      <header class="section-header">
        <h2>Acciones disponibles</h2>
        
      </header>

      <div class="row">
       
        <div class="col-lg-4 mt-4 mt-lg-0">
         
            <a href="{% url 'patient_profile' %}">
            <div class="box" data-aos="fade-right" data-aos-delay="50">
              <img src="{% static 'assets/img/profile.png' %}" class="img-fluid ds" alt="">
              <h3 >Perfil</h3>
            </div>
        </a>
          </div>
          
          <div class="col-lg-4 mt-4 mt-lg-0">
            <a href="{% url 'activities' %}">
            <div class="box" data-aos="fade-up" data-aos-delay="50">
              <img src="{% static 'assets/img/activities.png' %}" class="img-fluid ds" alt="">
              <h3>Actividades</h3>
            </div>
        </a>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <a href="entrenamiento.html">
            <div class="box" data-aos="fade-left" data-aos-delay="50">
              <img src="{% static 'assets/img/training.png' %}" class="img-fluid ds" alt="">
              <h3>Entrenamiento</h3>
            </div>
        </a>
          </div>

       

      </div>

    </div>

  </section>


{% endblock %}