



{% extends 'base_patient.html' %}


{% load static %}

{% block contenido %}

{% if not next %}

     {% include page %}

{% else %}


<section id="pricing" class="pricing">

    <div class="container" data-aos="fade-down" style="position: relative; top: 80px;">

      <header class="section-header">
       
        <p>Continuar Entrenamiento</p>
      </header>

      <div class="row gy-4" data-aos="fade-up" style="position: relative; top: 60px;">

        <div  data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <h3 style="color: #07d5c0;">{{activities}} / {{num_activities}} <br> activitidades completadas</h3>
         
            <img src="https://img.icons8.com/bubbles/200/000000/brain.png"/>
            <ul>
            
            </ul>
            <a href="{% url 'init_training' %}?training={{training}}" class="btn-buy">Siguiente</a>
          </div>
        </div>

      

      </div>

    </div>

  </section><!-- End Pricing Section -->

{% endif %}
{% endblock %}







