{% extends 'base_patient.html' %}

{% load static %}

{% block css %}
<script src="{% static 'assets/js/activities.js' %}"></script>

{% endblock %}

{% block contenido %}

{% if not load %}
<section id="portfolio" class="portfolio"  style="position: relative; top: 120px;">

    <div class="container" data-aos="fade-up">

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <header class="section-header">
        
            <p>Memoriza el orden de las siguientes imágenes</p>
          </header>
        </div>
      </div>

      <div class="row gy-4 portfolio-container"  data-aos="fade-right" style="position: relative; bottom: 170px;" data-aos-delay="200">

         <!-- Opcion 3 -->

       
         <div class="col-lg-4 col-md-6 portfolio-item filter-card opcion-1">
            <div class="portfolio-wrap">
              {% if solution == 'Image Order 1'%}
              <img src="{% static 'assets/img/portfolio/shiba.png' %}" class="img-fluid" alt="">
              {% endif %}

              {% if solution == 'Image Order 2'%}
              <img src="{% static 'assets/img/portfolio/cat1.png' %}" class="img-fluid" alt="">
              {% endif %}

              {% if solution == 'Image Order 3'%}
              <img src="{% static 'assets/img/portfolio/boat2.png' %}" class="img-fluid" alt="">
              {% endif %}

              <div class="portfolio-info">
                <h4>Shiba</h4>
              </div>
            </div>
          </div>
         
          <div class="col-lg-4 col-md-6 portfolio-item filter-card  opcion-1">
            <div class="portfolio-wrap">
              {% if solution == 'Image Order 1'%}
              <img src="{% static 'assets/img/portfolio/husky.png' %}" class="img-fluid" alt="">
              {% endif %}

              {% if solution == 'Image Order 2'%}
              <img src="{% static 'assets/img/portfolio/cat3.png' %}" class="img-fluid" alt="">
              {% endif %}

              {% if solution == 'Image Order 3'%}
              <img src="{% static 'assets/img/portfolio/boat3.png' %}" class="img-fluid" alt="">
              {% endif %}

              <div class="portfolio-info">
                <h4>Husky</h4>                
              </div>
            </div>
          </div>
  
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-web  opcion-1">
            <div class="portfolio-wrap">
              {% if solution == 'Image Order 1'%}
              <img src="{% static 'assets/img/portfolio/wolf.png' %}" class="img-fluid" alt="">
              {% endif %}

              {% if solution == 'Image Order 2'%}
              <img src="{% static 'assets/img/portfolio/cat2.png' %}" class="img-fluid" alt="">
              {% endif %}
              
              {% if solution == 'Image Order 3'%}
              <img src="{% static 'assets/img/portfolio/boat1.png' %}" class="img-fluid" alt="">
              {% endif %}
              <div class="portfolio-info">
                <h4>Lobo</h4>       
              </div>
            </div>
          </div>

      </div>
      
      <section id="pricing" class="pricing"  style="position: relative; bottom: 350px;">

        <div class="container">
    
          <header class="section-header">
           
            <a href="{% url 'load_memory' %}?activity={{solution}}&&name={{name}}" class="btn-buy">Continuar</a>
          
          </header>
    
        
    
        </div>
    
      </section><!-- End Pricing Section -->
      

    </div>

  </section><!-- End Portfolio Section -->
 
 {% else %}
 

 <section id="portfolio" class="portfolio"  style="position: relative; top: 120px;">

  <div class="container" data-aos="fade-up">

    <header class="section-header">
      
      <p>Selecciona una de las 3 opciones</p>
    </header>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter=".opcion-1" id="1" class="filter-active" onclick="setOption(this)">Opción 1</li>
          <li data-filter=".opcion-2" id="2" onclick="setOption(this)">Opción 2</li>
          <li data-filter=".opcion-3" id="3" onclick="setOption(this)">Opción 3</li>
        </ul>
      </div>
    </div>

    <div class="row gy-4 portfolio-container"  data-aos="fade-right" style="position: relative; bottom: 170px;" data-aos-delay="200">

      <!-- Opción 1-->
    
      <div class="col-lg-4 col-md-6 portfolio-item filter-card opcion-1">
        <div class="portfolio-wrap">
          {% if solution == 'Image Order 1'%}
          <img src="{% static 'assets/img/portfolio/wolf.png' %}" class="img-fluid" alt="">
          {% endif %}

          {% if solution == 'Image Order 2'%}
          <img src="{% static 'assets/img/portfolio/cat1.png' %}" class="img-fluid" alt="">
          {% endif %}

          {% if solution == 'Image Order 3'%}
          <img src="{% static 'assets/img/portfolio/boat2.png' %}" class="img-fluid" alt="">
          {% endif %}
         

          <div class="portfolio-info">
            <h4>Lobo</h4>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-card  opcion-1">
        <div class="portfolio-wrap">
          {% if solution == 'Image Order 1'%}
          <img src="{% static 'assets/img/portfolio/husky.png' %}" class="img-fluid" alt="">
          {% endif %}

          {% if solution == 'Image Order 2'%}
          <img src="{% static 'assets/img/portfolio/cat3.png' %}" class="img-fluid" alt="">
          {% endif %}

          {% if solution == 'Image Order 3'%}
          <img src="{% static 'assets/img/portfolio/boat3.png' %}" class="img-fluid" alt="">
          {% endif %}
          <div class="portfolio-info">
            <h4>Husky</h4>                
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 portfolio-item filter-web  opcion-1">
        <div class="portfolio-wrap">
          {% if solution == 'Image Order 1'%}
          <img src="{% static 'assets/img/portfolio/shiba.png' %}" class="img-fluid" alt="">
          {% endif %}

          {% if solution == 'Image Order 2'%}
          <img src="{% static 'assets/img/portfolio/cat2.png' %}" class="img-fluid" alt="">
          {% endif %}

          {% if solution == 'Image Order 3'%}
          <img src="{% static 'assets/img/portfolio/boat1.png' %}" class="img-fluid" alt="">
          {% endif %}

          <div class="portfolio-info">
            <h4>Shiba</h4>       
          </div>
        </div>
      </div>
  

      <!-- Opcion 2 -->


      <div class="col-lg-4 col-md-6 portfolio-item filter-card opcion-2">
          <div class="portfolio-wrap">
            {% if solution == 'Image Order 1'%}
            <img src="{% static 'assets/img/portfolio/husky.png' %}" class="img-fluid" alt="">
            {% endif %}

            {% if solution == 'Image Order 2'%}
            <img src="{% static 'assets/img/portfolio/cat3.png' %}" class="img-fluid" alt="">
            {% endif %}

            {% if solution == 'Image Order 3'%}
            <img src="{% static 'assets/img/portfolio/boat2.png' %}" class="img-fluid" alt="">
            {% endif %}
            <div class="portfolio-info">
              <h4>Husky</h4>
            </div>
          </div>
        </div>
        

        <div class="col-lg-4 col-md-6 portfolio-item filter-card  opcion-2">
          <div class="portfolio-wrap">
            {% if solution == 'Image Order 1'%}
            <img src="{% static 'assets/img/portfolio/shiba.png' %}" class="img-fluid" alt="">
            {% endif %}

            {% if solution == 'Image Order 2'%}
            <img src="{% static 'assets/img/portfolio/cat2.png' %}" class="img-fluid" alt="">
            {% endif %}

            {% if solution == 'Image Order 3'%}
            <img src="{% static 'assets/img/portfolio/boat1.png' %}" class="img-fluid" alt="">
            {% endif %}
            <div class="portfolio-info">
              <h4>Shiba</h4>                
            </div>
          </div>
        </div>
        
        
        <div class="col-lg-4 col-md-6 portfolio-item filter-web  opcion-2">
          <div class="portfolio-wrap">
            {% if solution == 'Image Order 1'%}
            <img src="{% static 'assets/img/portfolio/wolf.png' %}" class="img-fluid" alt="">
            {% endif %}

            {% if solution == 'Image Order 2'%}
            <img src="{% static 'assets/img/portfolio/cat1.png' %}" class="img-fluid" alt="">
            {% endif %}

            {% if solution == 'Image Order 3'%}
            <img src="{% static 'assets/img/portfolio/boat3.png' %}" class="img-fluid" alt="">
            {% endif %}
            <div class="portfolio-info">
              <h4>Lobo</h4>       
            </div>
          </div>
        </div>



       <!-- Opcion 3 -->

       
       <div class="col-lg-4 col-md-6 portfolio-item filter-card opcion-3">
          <div class="portfolio-wrap">
            {% if solution == 'Image Order 1'%}
            <img src="{% static 'assets/img/portfolio/shiba.png' %}" class="img-fluid" alt="">
            {% endif %}

            {% if solution == 'Image Order 2'%}
            <img src="{% static 'assets/img/portfolio/cat1.png' %}" class="img-fluid" alt="">
            {% endif %}

            {% if solution == 'Image Order 3'%}
            <img src="{% static 'assets/img/portfolio/boat3.png' %}" class="img-fluid" alt="">
            {% endif %}
            <div class="portfolio-info">
              <h4>Shiba</h4>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 portfolio-item filter-card  opcion-3">
          <div class="portfolio-wrap">
            {% if solution == 'Image Order 1'%}
            <img src="{% static 'assets/img/portfolio/husky.png' %}" class="img-fluid" alt="">
            {% endif %}

            {% if solution == 'Image Order 2'%}
            <img src="{% static 'assets/img/portfolio/cat2.png' %}" class="img-fluid" alt="">
            {% endif %}

            {% if solution == 'Image Order 3'%}
            <img src="{% static 'assets/img/portfolio/boat2.png' %}" class="img-fluid" alt="">
            {% endif %}
            <div class="portfolio-info">
              <h4>Husky</h4>                
            </div>
          </div>
        </div>

        
        <div class="col-lg-4 col-md-6 portfolio-item filter-web  opcion-3">
          <div class="portfolio-wrap">
            {% if solution == 'Image Order 1'%}
            <img src="{% static 'assets/img/portfolio/wolf.png' %}" class="img-fluid" alt="">
            {% endif %}

            {% if solution == 'Image Order 2'%}
            <img src="{% static 'assets/img/portfolio/cat3.png' %}" class="img-fluid" alt="">
            {% endif %}

            {% if solution == 'Image Order 3'%}
            <img src="{% static 'assets/img/portfolio/boat1.png' %}" class="img-fluid" alt="">
            {% endif %}
            <div class="portfolio-info">
              <h4>Lobo</h4>       
            </div>
          </div>
        </div>

    </div>
    
    <section id="pricing" class="pricing"  style="position: relative; bottom: 350px;">

      <div class="container">
  
        <header class="section-header">
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" id="answer" name="answer" value="1">
            <button type="submit" class="btn-buy">Continuar</button>

          </form>
        </header>
  
      
  
      </div>
  
    </section><!-- End Pricing Section -->
    

  </div>

</section><!-- End Portfolio Section -->

{%endif%}









{% endblock %}