{%  extends 'base_patient.html' %}

{% load static %}

{% block contenido  %}

<section id="pricing" class="pricing">

    <div class="container" data-aos="fade-down" style="position: relative; top: 80px; ">

      {% for item in activities %}
      <div class="row gy-4" data-aos="fade-up" style="position: relative; top: 60px;">

        <div  data-aos="zoom-in" data-aos-delay="100">
          <div class="box">
            <h3 style="color: #07d5c0;">{{item.title}}</h3>
         
            <img width="200px" src="https://img.icons8.com/dusk/64/000000/spam.png"/>
            <ul>
            
            </ul>
            <a href="{% url 'init_activity' %}?activity={{item.pk}}" class="btn-buy">Comenzar</a>
          </div>
        </div>

        {% endfor %}
      

      </div>

    </div>

  </section><!-- End Pricing Section -->

{% endblock %}